In [1]:
import numpy as np
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df = pd.read_csv("covid_toy.csv")

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [7]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [8]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [9]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [10]:
X_train,X_test, y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                 test_size=0.2)

In [11]:
X_train

    age  gender  fever   cough       city
71   75  Female  104.0  Strong      Delhi
21   73    Male   98.0    Mild  Bangalore
2    42    Male  101.0    Mild      Delhi
64   42    Male  104.0    Mild     Mumbai
43   22  Female   99.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
94   79    Male    NaN  Strong    Kolkata
79   48  Female  103.0    Mild    Kolkata
42   27    Male  100.0    Mild      Delhi
47   18  Female  104.0    Mild  Bangalore
77    8  Female  101.0    Mild    Kolkata

[80 rows x 5 columns]

In [6]:
from sklearn.model_selection import train_test_split

# Aam Zindagi

In [12]:
si = SimpleImputer()

In [13]:
X_train_fever = si.fit_transform(X_train[['fever']])

In [14]:
X_test_fever = si.fit_transform(X_train[['fever']])

In [15]:
X_train_fever.shape

(80, 1)

In [16]:
# Ordinalencoding -> cough
oe = OrdinalEncoder(categories=[['Mild', 'Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

In [18]:
# Also the test data
X_test_cough = oe.fit_transform(X_test[['cough']])
X_train_cough.shape

(80, 1)

In [23]:
# OneHotEncoding -> gender, city
ohe = OneHotEncoder(drop='first', sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# Also the test data
X_test_gender_city = ohe.fit_transform(X_train[['gender','city']])

X_train_gender_city.shape

(80, 4)

In [34]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [36]:
print(X_test_age.shape)
print(X_test_fever.shape)
print(X_test_gender_city.shape)
print(X_test_cough.shape)

(20, 1)
(80, 1)
(20, 4)
(20, 1)

In [39]:
from sklearn.model_selection import train_test_split
import numpy as np

# Features and label
X = df[['age', 'fever', 'gender', 'city', 'cough']]
y = df['has_covid']

# Split once (important)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Extract individual feature arrays
X_train_age = X_train[['age']].values
X_train_fever = X_train[['fever']].values
X_train_gender_city = X_train[['gender', 'city']].values
X_train_cough = X_train[['cough']].values

X_test_age = X_test[['age']].values
X_test_fever = X_test[['fever']].values
X_test_gender_city = X_test[['gender', 'city']].values
X_test_cough = X_test[['cough']].values

# Combine features
X_train_transformed = np.concatenate((X_train_age, X_train_fever, X_train_gender_city, X_train_cough), axis=1)
X_test_transformed = np.concatenate((X_test_age, X_test_fever, X_test_gender_city, X_test_cough), axis=1)

print(X_train_transformed.shape, X_test_transformed.shape)

(80, 5) (20, 5)

# Professional life

In [40]:
from sklearn.compose import ColumnTransformer

In [42]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [43]:
transformer.fit_transform(X_train).shape

(80, 7)

In [44]:
transformer.transform(X_test).shape

(20, 7)